@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.container {
    max-width: 970px; /*940px width + padding 30px*/
    padding: 0 15px;
    margin: 0 auto;
}

p {
    line-height: 1.79; /*множитель умножается на font-size*/
    color: #111111;
}

.hide {
    display: none !important;
}

.title-wrapper {
    margin-bottom: 30px;
}

.title {
    font-size: 30px;
    line-height: 1.2;
    margin-bottom: 17px;
    letter-spacing: 5px;
    text-transform: uppercase;

    color: #111111;
}

.subtitle {
    font-size: 17px;
    line-height: 1.2;

    letter-spacing: 3px;
    text-transform: uppercase;

    color: #BD162C !important;
}

.common-section {
    text-align: center;
    padding: 80px 0;
}

.common-section--dark {
    background-color: #192024;

    * {
        color: #fff;
    }
}

.header {
    padding: 20px 0;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;

    background-color: #ffffff;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo {
    font-size: 25px;
    line-height: 1;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #111111;
}

.logo__accent {
    color: #BD162C;
}

.header__nav {

    a {
        font-size: 16px;
        color: #111111;
        transition: color 0.2s;

        &:hover {
            color: #BD162C;
        }

        &:active {
            color: #720613;
        }
    }

    ul {
        display: flex;
    }

    li + li { /*отступы для тех у кого есть сосед слева*/
        margin-left: 40px;
    }

}

.main {
}

.welcome {
    display: flex;

    justify-content: center;
    align-items: center;
    text-align: center;

    min-height: 600px;
    height: 90vh;
    padding: 195px 0;

    color: #ffffff;
    background-color: #BD162C;
    background-image: url("../img/header-banner.jpg");
    /*filter: grayscale(100%);*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.welcome__heading {
    font-size: 59px;
    line-height: 1;
    letter-spacing: 4px;
    text-transform: uppercase;

    margin-bottom: 100px;
    text-shadow: 2px 2px #111111;
}

.welcome__links {
    & > * + * { /*любой элемент внутри welcome__links у которого есть сосед слева*/
        margin-left: 20px;
    }
}

.link-primary {
    display: inline-block;
    padding: 11px 30px; /*11px для равенства с другой кнопкой из-за border*/

    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;

    background-color: #BD162C;
    border-radius: 4px;

    transition: background-color 0.2s;

    &:hover {
        background-color: #720613;
    }

    &:active {
        background-color: #111111;
    }
}

.link {
    display: inline-block;
    padding: 10px 30px;

    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;

    border: 1px solid #ffffff;
    border-radius: 4px;

    transition: background-color 0.2s;

    &:hover {
        background-color: rgb(255 255 255 / 0.3);
        border-color: rgb(255 255 255 / 0.5);
    }

    &:active {
        background-color: rgb(17 17 17 / 0.2);
        border-color: rgb(17 17 17 / 0.5);
    }
}

.team {

    .cards-wrapper {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
    }

    .card {
        padding: 35px 15px 25px;
        max-width: 300px;
        border: 1px solid #DCEBF7;
        border-radius: 5px;

        img {
            margin-bottom: 20px;
            width: 100%;
            height: 300px;
        }

        h4 {
            font-size: 20px;
            line-height: 1.5;

            letter-spacing: 7px;
            text-transform: uppercase;
            color: #BD162C;
        }
    }
}

.car {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.car-text {
    margin-bottom: 20px;
}


.tabs__nav {

    button {
        color: #FFFFFF;
        margin-bottom: 30px;
    }

    button + button {
        margin-left: 30px;
    }
}

.tabs__content {
    display: flex;

    img {
        width: 500px;
        height: 450px;
        border-radius: 10px;
    }

    h4 {
        margin: 15px 0;
    }

    p {
        padding: 10px;
    }
}

.tabs-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.footer {
    h4 {
        margin-bottom: 20px;
    }
}

.footer__desc {
    padding: 40px 0;

    a {
        font-size: 15px;
    }

    li {
        position: relative;
        height: 30px;

        &::before {
            content: "";
            width: 100%;
            height: 1px;
            position: absolute;
            right: 0;
            bottom: 0;

            background-color: #919ba2;
        }
    }

    li + li {
        margin-top: 6px;
    }

}

.footer__desc-container {
    display: flex;
    justify-content: space-evenly;
    /*align-items: flex-start;*/
    flex-wrap: wrap;
    gap: 20px;

    & > * {
        width: 30%;
        min-width: 260px;
    }

}

.footer__social {
    img {
        width: 20px;
        height: 20px;
        object-fit: contain;
        margin-right: 10px;
    }

    li::before {
        width: calc(100% - 34px);

    }
}

.footer__copy {
    padding: 40px 0;
    text-align: center;

    p {
        color: #9E9E9E;
    }
}